<%#
`public_domain_magic`, the PublicDomainMagic.org information system
Copyright (C) 2025  Kerrick Long <me@kerricklong.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
%>

<%= content_for :page_title, "About Our Goals" %>

<p><%= pdm_logotype %> works to promote a rich magical culture. Specifically, we aim to conduct our efforts to support the goals of <a href="https://www.archives.gov/files/nhprc/annotation/2007/2007-fall.pdf">preservation</a> and <a href="https://dictionary.archivists.org/entry/access.html">access</a>. These two goals are sometimes referred to as our &ldquo;<a href="https://www.federalreserve.gov/faqs/what-economic-goals-does-federal-reserve-seek-to-achieve-through-monetary-policy.htm">dual mandate</a>.&rdquo;</p>

<h2>Preservation</h2>

<h3>Researching Copyright Status</h3>
<p>Copying is preservation&mdash;the only method of preservation for long enough timescales. To widen the range of works we can preserve, we work to gather <a href="https://en.wikipedia.org/wiki/Evidence_of_absence">evidence of abscence</a> of copyright renewal for <abbr title="United States">U.S.</abbr> works old enough to require renewal. We <a href="https://www.gutenberg.org/help/copyright.html#rule-6-failure-of-us-works-to-comply-with-renewal-requirements-prior-to-1964">submit this research to Project Gutenberg for their clearance</a> to ensure we comply with <abbr title="United States">U.S.</abbr> copyright law. This is the effort that enables all our other tactics to meet our preservation and access goals for works published after <%= public_domain_year %>.</p>

<h3>Scanning Books</h3>
<p>Rather than preserving physical copies of works, we <a href="https://dictionary.archivists.org/entry/scan.html">scan</a> them to preserve the information they contain.</p>
<blockquote>
  <p>The third mode of preservation is copying the content to be preserved onto a new medium. Here the focus is not on preservation of the physical object, but rather on preserving the informational or cultural content of the original by making a surrogate from the original. Since ancient times, scribes have preserved documents by copying them, and copies also provide a mechanism for dissemination of content.</p>
  <cite><a href="https://www.archives.gov/files/nhprc/annotation/2007/2007-fall.pdf">
    <abbr title="National Historical Publications and Records Commission">NHPRC</abbr>, “The Four Modes of Preservation,” <i>Annotation</i>, vol. 34, no. 1, pp. 8&ndash;9, Fall 2007.
  </a></cite>
</blockquote>

<h3>Copying</h3>
<p>Once a works is <a href="https://dictionary.archivists.org/entry/digitize.html">digitized</a>, the tenets of <a href="https://dictionary.archivists.org/entry/digital-preservation.html">digital preservation</a> mean that we encourage as many copies as possible, stored by as many people as possible. <a href="https://dictionary.archivists.org/entry/lots-of-copies-keep-stuff.html">Lots of copies keep stuff safe</a>.</p>
<p>We copy others&lsquo;s digitized public domain works, and we provide copies of our digitizations to <a href="https://archive.org">Internet Archive</a>, <a href="https://www.gutenberg.org">Project Gutenberg</a>, <a href="https://en.wikisource.org/wiki/Main_Page">WikiSource</a>, and other digital libraries. We also offer low-resolution versions of our scans for download at no charge for readers, and high-resolution versions of our scans on archival-quality discs for collectors, publishers, and other interested parties.</p>

<h2>Access</h2>

<h3>Transcribing Scans</h3>
<p>Once a work has been digitized by scanning, work is still required to convert it to a format that is easily readable by the most people on the most devices. <%= pdm_logotype %> transcribes scanned works that aren&rsquo;t already available on <a href="https://www.gutenberg.org">Project Gutenberg</a>, whether scanned by <abbr title="Public Domain Magic">PDM</abbr> volunteers or others, into machine-readable formats. These transcriptions have many benefits compared to scans. Readers can adjust the fonts for better legibility, more devices can load the work and show it on a variety of screen sizes, and it can be used with a wider range of accessibility technology such as text-to-speech software.</p>

<h3>Producing Ebooks</h3>
<p>Even a transcribed work may not be a high-quality ebook up to the standards of <%= pdm_logotype %> and the <a href="https://standardebooks.org/manual/">Standard Ebooks Manual of Style</a>, a rigorous and modern style manual. Our volunteers produce a new edition of transcribed works that takes advantage of state-of-the-art ereader and browser technology. Our volunteers take care when developing each and every ebook to ensure they meet a professional-grade and consistent typographical standard. Our ebooks look good.</p>

<h3>Intellectual Access</h3>
<p><%= pdm_logotype %> seeks to improve <a href="https://dictionary.archivists.org/entry/intellectual-access.html">intellectual access</a> to works about magic and the allied arts. Toward that end, we build tools such as our catalog to enable the discovery and use of works previously unknown to members of the community, even those for which we haven’t yet produced high-quality ebooks.</p>

<h3>Free of Cost</h3>
<p><%= pdm_logotype %> provides <a href="https://dictionary.archivists.org/entry/open-access.html">open access</a> ebooks to members of the community. By making costs optional to all readers, we ensure access to the best public domain works even to the young, the poor, the indebted, the unemployed, the working class, and the starving artists among us.</p>
