<%#
`public_domain_magic`, the PublicDomainMagic.org information system
Copyright (C) 2025  Kerrick Long <me@kerricklong.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
%>

<%= content_for :page_title, "Dual License for our Ebooks" %>

<h2>For Readers</h2>
<p><%= pdm_logotype %> ebooks are available under a <a href="https://en.wikipedia.org/wiki/Dual_licensing">dual licensing</a> model.</p>
<ul>
  <li>We agree with <a href="https://www.gutenberg.org/help/no_sweat_copyright.html">Project Gutenberg&rsquo;s opinion that <q>Work performed on a public domain item, known as &lsquo;sweat of the brow,&rsquo; does not result in a new copyright</q> in the United States</a>. If that is true, <%= pdm_logotype %> ebooks are in the public domain by definition.</li>
  <li>However, if you believe the conversion to a digital form creates a new copyright, or if applicable law recognizes <a href="https://en.wikipedia.org/wiki/Sweat_of_the_brow">&ldquo;sweat of the brow&rdquo;</a> or similar rights, you may use <%= pdm_logotype %> ebooks <strong>only</strong> under the terms of the <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.en">CC BY-NC-ND 4.0 license</a>, which prohibits commercial use and distributing modified versions.</li>
</ul>
<p>Either way, you are free to download, read, copy, and print <%= pdm_logotype %> ebooks for no charge.</p>

<h2>For Distributors</h2>
<p>In addition to the terms for readers above, the following apply to those that believe the conversion to a digital form creates a new copyright who would distribute <%= pdm_logotype %> ebooks.</p>
<ul>
  <li>The terms of the <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.en">CC BY-NC-ND 4.0 license</a> do not allow use for <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.en#ref-commercial-purposes">commercial purposes</a>.</li>
  <li>By distributing <%= pdm_logotype %> ebooks, you agree not to assert copyright or related rights over digitization or other &ldquo;sweat of the brow&rdquo; labor on <em>any</em> public domain works.</li>
</ul>

<h2>For Contributors, Volunteers, and Producers</h2>
<p><%= pdm_logotype %> only accepts contributions from volunteers who agree that <a href="https://www.gutenberg.org/help/no_sweat_copyright.html">&ldquo;sweat of the brow&rdquo;</a> does <em>not</em> create a new copyright in public domain works. All contributions must be released under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal Public Domain Dedication</a>.</p>